.textos-inicio {
    width: 100%;
    height: fit-content;
}

.textos-inicio h3 {
    font-size: 24px;
    font-weight: 300;
}

.textos-inicio h1 {
    font-size: 36px;
    color: var(--roxo);
    text-shadow: var(--sombra);
}

.textos-inicio p {
    font-size: 18px;
}

.texto-principal {
    width: 100%;
    height: 750px;
    position: relative;
}

.texto-principal h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--roxo);
    text-shadow: var(--sombra);
}

.texto-principal p {
    font-size: 24px;
}

.fancy-texto-principal {
    width: 500px;
    height: 500px;
    background: linear-gradient(90deg, var(--roxo) 0%, var(--vermelho) 50%, var(--laranja) 100%);
    border-radius: 26% 74% 56% 44% / 37% 43% 57% 63%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 300px;
}

.img-3d-principal {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 50px;
    left: 340px;
}